# UNxR initial screen. Values are case-insensitive:
# attract:logo | attract:high-score | start-level-select
# game:entry | game:play | game:death | game:flight | game:pause | game-over | initials
UNXR_START_SCREEN=attract:high-score
